[Unit]
Description=DCF77/JJY/MSF/WWVB radio transmitter for Raspberry Pi
Documentation=https://github.com/steve1515/time-signal
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStart=/usr/local/bin/time-signal -s WWVB
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
